<mat-toolbar style="margin-bottom: 3vw;" color="primary">
  <mat-toolbar-row>
    <span>Test Case Generator!</span>
    <button mat-button [matMenuTriggerFor]="menu">
      <span>Contribution</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a class="no-dec" target="_blank"
          href="https://github.com/ataherinmobly/puppeteer-knowledge-share">
          <mat-icon>accessibility</mat-icon>
          <span>Puppeteer Repo</span>
        </a></button>
      <button mat-menu-item><a class="no-dec" target="_blank"
          href="https://github.com/ataherinmobly/puppeteer-knowledge-share">
          <mat-icon>http</mat-icon>
          <span>This Website's Repo</span>
        </a></button>
    </mat-menu>
    <span class="-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>


</mat-toolbar>


<div class="container-fluid">

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div style="margin-bottom: 3vw;" cdkDrag *ngFor="let command of commands; let i = index;" class="row">
      <div class="col-3">
        <mat-form-field>
          <mat-label>Command type</mat-label>
          <mat-select (selectionChange)="resetCommand(i)" [(ngModel)]=command.type>
            <mat-option value="click">Click</mat-option>
            <mat-option value="write">Write</mat-option>
            <mat-option value="screenshot">Screenshot</mat-option>
            <mat-option value="route">Route</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="command.type === 'click' || command.type === 'write'" class="col-3">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="command.selector" matInput placeholder="Selector">
        </mat-form-field>
      </div>
      <div class="col-3 checkbox-p-top">
        <mat-checkbox [(ngModel)]="command.toFind" *ngIf="command.type === 'click' || command.type === 'write'">Query
          selector with conditions
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="command.isFake" *ngIf="command.type === 'write'">Fake Data</mat-checkbox>
      </div>

      <ng-container class="query-section" *ngIf="command.toFind">
        <div class="col-3">
          <mat-form-field>
            <mat-label>Select property name</mat-label>
            <mat-select [(ngModel)]="command.queryParams.propertyName">
              <mat-option value="textContent">Text Content</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="command.queryParams.queryValue" matInput placeholder="Query Value">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Select Query Method</mat-label>
            <mat-select [(ngModel)]="command.queryParams.queryMethod">
              <mat-option selected value="includes">includes</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container *ngIf="command.isFake" class="faker-section">
        <div class="col-3">
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="command.faker.object" matInput placeholder="Object Name">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="command.faker.function" matInput placeholder="Function Name">
          </mat-form-field>
        </div>
      </ng-container>

      <div *ngIf="command.type === 'write' && !command.isFake" class="col-3">
        <mat-form-field>
          <input [(ngModel)]="command.text" matInput placeholder="Text to write">
        </mat-form-field>
      </div>

      <div *ngIf="command.type === 'route'" class="col-12">
        <mat-form-field>
          <input [(ngModel)]="command.url" matInput placeholder="Page Route">
        </mat-form-field>
      </div>

      <div *ngIf="command.type === 'screenshot'" class="col-12 full-width">
        <mat-form-field>
          <input [(ngModel)]="command.path" matInput placeholder="Screenshot Path">
        </mat-form-field>
      </div>


      <div class="col-12 ">
        <mat-form-field class="half-width">
          <input type="number" [(ngModel)]="command.waitFor" matInput placeholder="Wait For Time (in ms)">
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>

    </div>
  </div>
  <button (click)="addCommand()" mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="generateTest()" mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>done</mat-icon>
  </button>
</div>
